@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
}

.mailing--main-page {
  background-image: url('../img/background/background.png');
}

.catalog-page__header {
  background-image: url('../img/background/catalog-background 1.png');
}
